.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.month-head {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.month-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 0.5em;
  grid-row-gap: 1em;
}

.day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-radius: 5px;
  color: white;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 350px;
  margin: 0 10px;
}
